body{
 background-color:black;
 color:limegreen;
}

button{
 background-color:black;
 color:limegreen;
 font-weight:bold;
 font-size:20pt;
}

#about{
 display:none;
}

#help{
 display:none;
}

h3, h2, h1{
 color: limegreen;
}

#footer{
 color: limegreen;
 font-size:8px;
}

#text, #text2{
 color: green;
}